DB_USER=postgres
DATABASE_URL=postgresql://postgres.bmuuzfatngysozduyypr:271195Mis@el@aws-0-us-east-1.pooler.supabase.com:6543/postgres
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
JWT_SECRET=p7fOW/xOxKPoLvMGDmb4NpGSUE+dX7OCO5lWbacUN+VyRdxMEOyYo6xcfsEOwbyqWKpSR9gS6nMvudiP9++2Zg==