@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-background font-body-main antialiased;
  }
}

@layer utilities {
  .workstation-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
  }
  .perspective-grid {
    transform: perspective(1000px) rotateX(10deg);
  }
}
